In [1]:
import sklearn as skl
import pandas as pd

In [2]:
df = pd.read_csv("train.csv")
pd.options.display.max_columns=30
df

,Employee ID,Age,Gender,Years at Company,Job Role,Monthly Income,Work-Life Balance,Job Satisfaction,Performance Rating,Number of Promotions,Overtime,Distance from Home,Education Level,Marital Status,Number of Dependents,Job Level,Company Size,Company Tenure,Remote Work,Leadership Opportunities,Innovation Opportunities,Company Reputation,Employee Recognition,Attrition
0,8410,31,Male,19,Education,5390,Excellent,Medium,Average,2,No,22,Associate Degree,Married,0,Mid,Medium,89,No,No,No,Excellent,Medium,Stayed
1,64756,59,Female,4,Media,5534,Poor,High,Low,3,No,21,Master’s Degree,Divorced,3,Mid,Medium,21,No,No,No,Fair,Low,Stayed
2,30257,24,Female,10,Healthcare,8159,Good,High,Low,0,No,11,Bachelor’s Degree,Married,3,Mid,Medium,74,No,No,No,Poor,Low,Stayed
3,65791,36,Female,7,Education,3989,Good,High,High,1,No,27,High School,Single,2,Mid,Small,50,Yes,No,No,Good,Medium,Stayed
4,65026,56,Male,41,Education,4821,Fair,Very High,Average,0,Yes,71,High School,Divorced,0,Senior,Medium,68,No,No,No,Fair,Medium,Stayed
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
59593,37195,50,Female,12,Education,4414,Fair,High,Average,1,Yes,66,Bachelor’s Degree,Single,2,Senior,Small,35,No,No,Yes,Poor,Very High,Left
59594,6266,18,Male,4,Healthcare,8040,Fair,High,High,3,No,42,Associate Degree,Single,0,Senior,Medium,73,No,No,No,Fair,Medium,Left
59595,54887,22,Female,14,Technology,7944,Fair,High,High,0,Yes,34,Master’s Degree,Married,2,Entry,Small,29,No,Yes,No,Good,Medium,Stayed
59596,861,23,Male,8,Education,2931,Fair,Very High,Average,0,No,62,Bachelor’s Degree,Single,0,Entry,Large,9,No,No,No,Good,Low,Left
59597,15796,56,Male,19,Technology,6660,Good,High,Average,0,Yes,20,Master’s Degree,Married,3,Mid,Medium,81,No,No,No,Good,Low,Stayed

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 59598 entries, 0 to 59597
Data columns (total 24 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Employee ID               59598 non-null  int64
 1   Age                       59598 non-null  int64
 2   Gender                    59598 non-null  object
 3   Years at Company          59598 non-null  int64
 4   Job Role                  59598 non-null  object
 5   Monthly Income            59598 non-null  int64
 6   Work-Life Balance         59598 non-null  object
 7   Job Satisfaction          59598 non-null  object
 8   Performance Rating        59598 non-null  object
 9   Number of Promotions      59598 non-null  int64
 10  Overtime                  59598 non-null  object
 11  Distance from Home        59598 non-null  int64
 12  Education Level           59598 non-null  object
 13  Marital Status            59598 non-null  object
 14  Number of Dependents      59598 non-null  int64
 15  Job Level                 59598 non-null  object
 16  Company Size              59598 non-null  object
 17  Company Tenure            59598 non-null  int64
 18  Remote Work               59598 non-null  object
 19  Leadership Opportunities  59598 non-null  object
 20  Innovation Opportunities  59598 non-null  object
 21  Company Reputation        59598 non-null  object
 22  Employee Recognition      59598 non-null  object
 23  Attrition                 59598 non-null  object
dtypes: int64(8), object(16)
memory usage: 10.9+ MB

In [4]:
#remove : Innovation Opportunities,Leadership Opportunities,Employee ID 3
#binary : Gender,Overtime,Remote Work,Attrition 4
#one-hot: Job Role,Marital Status 2
#int    : Work-Life Balance,Job Satisfaction,Performance Rating,Education Level,Job Level,Company Size,Company Reputation,Employee Recognition 8
#keep   : Age,Years at Company,Monthly Income,Number of Promotions,Distance from Home,Number of Dependents,Company Tenure  7

In [5]:
df["Gender"] = df["Gender"].apply(lambda x: 1 if x=='Male' else 0)
df["Overtime"] = df["Overtime"].apply(lambda x: 1 if x=='Yes' else 0)
df["Remote Work"] = df["Remote Work"].apply(lambda x: 1 if x=='Yes' else 0)
df["Attrition"] = df["Attrition"].apply(lambda x: 1 if x=='Yes' else 0)

In [6]:
df = pd.get_dummies(df, columns=["Job Role"])
df = pd.get_dummies(df, columns=["Marital Status"])

In [7]:
df = df.drop("Employee ID",axis=1)
df = df.drop("Innovation Opportunities",axis=1)
df = df.drop("Leadership Opportunities",axis=1)

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 59598 entries, 0 to 59597
Data columns (total 27 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Age                      59598 non-null  int64
 1   Gender                   59598 non-null  int64
 2   Years at Company         59598 non-null  int64
 3   Monthly Income           59598 non-null  int64
 4   Work-Life Balance        59598 non-null  object
 5   Job Satisfaction         59598 non-null  object
 6   Performance Rating       59598 non-null  object
 7   Number of Promotions     59598 non-null  int64
 8   Overtime                 59598 non-null  int64
 9   Distance from Home       59598 non-null  int64
 10  Education Level          59598 non-null  object
 11  Number of Dependents     59598 non-null  int64
 12  Job Level                59598 non-null  object
 13  Company Size             59598 non-null  object
 14  Company Tenure           59598 non-null  int64
 15  Remote Work              59598 non-null  int64
 16  Company Reputation       59598 non-null  object
 17  Employee Recognition     59598 non-null  object
 18  Attrition                59598 non-null  int64
 19  Job Role_Education       59598 non-null  bool
 20  Job Role_Finance         59598 non-null  bool
 21  Job Role_Healthcare      59598 non-null  bool
 22  Job Role_Media           59598 non-null  bool
 23  Job Role_Technology      59598 non-null  bool
 24  Marital Status_Divorced  59598 non-null  bool
 25  Marital Status_Married   59598 non-null  bool
 26  Marital Status_Single    59598 non-null  bool
dtypes: bool(8), int64(11), object(8)
memory usage: 9.1+ MB

In [9]:
df['Work-Life Balance'].nunique()
wlbmap={
    'Excellent': 4,
    'Good': 3,
    'Fair': 2,
    'Poor':1
}
df['Work-Life Balance'] = df['Work-Life Balance'].map(wlbmap).fillna(0)

In [10]:
df["Work-Life Balance"]

0        4
1        1
2        3
3        3
4        2
        ..
59593    2
59594    2
59595    2
59596    2
59597    3
Name: Work-Life Balance, Length: 59598, dtype: int64